<%= gettext "New report from %{reporter} on %{instance}", reporter: Mobilizon.Actors.Actor.display_name_and_username(@report.reporter), instance: @instance[:name] %>
--
<%= if @report.reported do %>
  <%= if @report.reported.type == :Group do %>
    <%= gettext "Group %{group} was reported", group: Mobilizon.Actors.Actor.display_name_and_username(@report.reported) %>
  <% else %>
    <%= gettext "Profile %{profile} was reported", group: Mobilizon.Actors.Actor.display_name_and_username(@report.reported) %>
  <% end %>
<% end %>
<%= if Map.has_key?(@report, :event) and @report.event do %>
  <%= gettext "Event" %>
  <%= @report.event.title %>
<% end %>
<%= if Map.has_key?(@report, :comments) && length(@report.comments) > 0 do %>
  <%= gettext "Comments" %>
  <%= for comment <- @report.comments do %>
    <%= comment.text %>
  <% end %>
<% end %>
<%= if @report.content do %>
  <%= gettext "Reason" %>
  <%= @report.content %>
<% end %>
<%= gettext "View report:" %> <%= page_url(Mobilizon.Web.Endpoint, :moderation_report, @report.id) %>
